*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(135deg, hsl(0deg, 0%, 100%), hsl(0deg, 100%, 98%));
}
.news__hero {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 2rem;
}
.news__hero img {
  width: 6.875rem;
}
.news__img {
  width: 100%;
}
.news__img img {
  width: 100%;
}
.news__img2 {
  display: none;
}
.news__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.news__title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}
.news__titleOne {
  font-weight: 300;
  color: hsl(0deg, 36%, 70%);
}
.news__titleTwo {
  font-weight: 400;
  color: black;
}
.news__text {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding: 3rem 3rem 1rem 3rem;
  color: hsl(0deg, 36%, 70%);
}
.news__form {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 3rem;
  width: 100%;
}
.news__formContent {
  position: relative;
  width: 100%;
}
.news__input {
  width: 100%;
  height: 3.3rem;
  border: 0.031rem solid hsl(0deg, 36%, 70%);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.7rem;
  padding: 1rem;
}
.news__input::-moz-placeholder {
  color: hsl(0deg, 36%, 70%);
}
.news__input::placeholder {
  color: hsl(0deg, 36%, 70%);
}
.news__formIcon {
  display: none;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.news__formIcon img {
  width: 18px;
  height: 18px;
}
.news__btn {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 0.031rem solid hsl(0deg, 36%, 70%);
  background: linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  box-shadow: 2px 2px 22px red;
  cursor: pointer;
}
.news__btn:hover {
  background: hsl(0deg, 93%, 68%);
}
.news__error {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  text-align: center;
  color: hsl(0deg, 93%, 68%);
}

.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media (min-width: 992px) {
  .news {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    background: none;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: cover;
  }
  .news__hero {
    display: block;
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .news__hero img {
    width: 8.875rem;
  }
  .news__img {
    display: none;
  }
  .news__img2 {
    display: block;
    grid-column: 6/10;
    grid-row: 1/7;
    width: 100%;
    height: 100%;
  }
  .news__img2 img {
    width: 100%;
    height: 100%;
  }
  .news__content {
    grid-column: 1/6;
    grid-row: 3/3;
    width: 100%;
  }
  .news__title {
    text-align: left;
  }
  .news__titleOne {
    font-size: 4rem;
  }
  .news__titleTwo {
    font-size: 4rem;
  }
  .news__text {
    width: 100%;
    font-size: 1rem;
    text-align: left;
    line-height: 200%;
    padding: 1rem 5rem 5rem 5rem;
  }
  .news__form {
    grid-column: 1/6;
    grid-row: 5/6;
    width: 70%;
    align-self: center;
    justify-self: center;
  }
}/*# sourceMappingURL=style.css.map */