@import './colors';

// font-family: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.news {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: red;

	&__hero {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		padding: 2rem;
		img {
			width: 6.875rem;
		}
	}

	&__img {
		width: 100%;
		img {
			width: 100%;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__title {
		text-align: center;
		font-family: 'Josefin Sans', sans-serif;
		
		
	}
	&__titleOne {
		font-weight: 300;
		font-size: 3rem;
		letter-spacing: 0.6rem;
		text-transform: uppercase;
		color: $softRed;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}
