@import './colors';

// font-family: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.news {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: $gradientsOne;

	&__hero {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		padding: 2rem;
		img {
			width: 6.875rem;
		}
	}

	&__img {
		width: 100%;
		img {
			width: 100%;
		}
	}
	&__img2 {
		display: none;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 3rem;
	}

	&__title {
		text-align: center;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 3rem;
		letter-spacing: 0.6rem;
		text-transform: uppercase;
	}
	&__titleOne {
		font-weight: 300;
		color: $desaturatedRed;
	}

	&__titleTwo {
		font-weight: 400;
		color: $black;
	}
	&__text {
		font-family: 'Josefin Sans', sans-serif;
		text-align: center;
		padding: 3rem 3rem 1rem 3rem;
		color: $desaturatedRed;
	}

	&__form {
		position: relative;
		display: flex;
		flex-direction: row;
		padding: 3rem;
		width: 100%;
	}
	&__formContent {
		position: relative;
		width: 100%;
	}
	&__input {
		width: 100%;
		height: 3.3rem;
		border: 0.031rem solid $desaturatedRed;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 0.7rem;
		padding: 1rem;
		&::placeholder {
			color: $desaturatedRed;
		}
	}
	&__formIcon {
		display: none;
		position: absolute;
		top: 50%;
		left: 70%;
		transform: translate(-50%, -50%);
		img {
			width: 18px;
			height: 18px;
		}
	}

	&__btn {
		position: absolute;
		top: 50%;
		left: 95%;
		transform: translate(-50%, -50%);
		width: 5rem;
		height: 100%;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		border: 0.031rem solid $desaturatedRed;
		background: $gradientsTwo;
		cursor: pointer;
		&:hover {
			background: $softRed;
		}
	}
	&__error {
		position: absolute;
		top: 85%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: 'Josefin Sans', sans-serif;
		font-size: 15px;
		text-align: center;
		color: $softRed;
		
	}
}

.attribution {
	margin-top: 1rem;
	font-size: 11px;
	text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}

@media (min-width: 992px) {
	.news {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6, 1fr);
		height: 100vh;
		background: none;
		background-image: url(../images/bg-pattern-desktop.svg);

		&__hero {
			display: block;
			grid-column: 1/4;
			grid-row: 1/2;
			img {
				width: 8.875rem;
			}
		}
		&__img {
			display: none;
		}
		&__img2 {
			display: block;
			grid-column: 4/7;
			grid-row: 1/7;
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
			}
		}
		&__content {
			grid-column: 1/4;
			grid-row: 3/3;
			width: 100%;
		}
		&__title {
			text-align: left;
		}
		&__titleOne {
			font-size: 4rem;
		}

		&__titleTwo {
			font-size: 4rem;
		}
		&__text {
			width: 100%;
			font-size: 1rem;
			text-align: left;
			line-height: 200%;
			padding: 1rem 5rem 5rem 5rem;
		}

		&__form {
			grid-column: 1/4;
			grid-row: 5/6;
			width: 70%;
			align-self: center;
			justify-self: center;
		}
	}
}
